# Demo how functions looks like and how useful they are

** Activate venv and install packages**
```bash
pip install pandas matplotlib openpyxl
```

In [29]:
import pandas as pd  # Pandas is next lecture material

In [30]:
pwd

'c:\\Users\\ppapa\\OneDrive\\Υπολογιστής\\MSC\\semester B\\Python\\lecture6'

In [31]:
# if your data file is NOT in the same directory as your notebook, you need to specify the path.
# data_dir = "./../../data/"
# data = pd.read_excel(data_dir + "grades_factors.xlsx")

In [32]:
# if data file is in the same directory as your notebook, you can just use the file name.
data = pd.read_excel("grades_factors.xlsx")

In [33]:
len(data)

80

In [34]:
data.describe()

,Calc HS,ACT Math,Alg Place,Alg2 Grade,HS Rank,Gender Code,Calc
count,80.000000,80.000000,80.000000,80.000000,80.000000,80.000000,80.000000
mean,0.250000,28.250000,19.425000,3.612500,87.675000,0.537500,80.150000
std,0.435745,3.247199,4.711352,0.556748,12.181928,0.501737,11.436229
min,0.000000,16.000000,10.000000,2.000000,46.000000,0.000000,49.000000
25%,0.000000,27.000000,15.750000,3.000000,82.000000,0.000000,72.000000
50%,0.000000,28.000000,19.000000,4.000000,92.000000,1.000000,80.500000
75%,0.250000,30.000000,23.000000,4.000000,97.000000,1.000000,89.250000
max,1.000000,35.000000,30.000000,4.000000,99.000000,1.000000,99.000000

Academic independent variables considered:
ACT scores, high school rank, high school
GPA, high school algebra grades, and the score from an
algebra pretest.
Biographical independent variables considered were:
sex, birth order, family size, and high
school size.

## 1. A simple function to modify column names of the data.

In [35]:
data.columns

Index(['Calc HS', 'ACT Math', 'Alg Place', 'Alg2 Grade', 'HS Rank',
       'Gender Code', 'Gender', 'Calc'],
      dtype='object')

In [36]:
data.columns[0]  # first item of the columns

'Calc HS'

In [37]:
type(data.columns)  # data.columns is a pandas Index object, an iterable, works also like a list among others.

pandas.core.indexes.base.Index

In [38]:
data.columns.to_list()  # a view of the columns as list

['Calc HS',
 'ACT Math',
 'Alg Place',
 'Alg2 Grade',
 'HS Rank',
 'Gender Code',
 'Gender',
 'Calc']

In [39]:
column_headers = data.columns.to_list()  # assign the column headers to a variable

In [40]:
type(column_headers)

list

In [41]:
# Replace white spaces inside the column names with underscores
column_headers = [header.replace(" ", "_") for header in column_headers]
column_headers

['Calc_HS',
 'ACT_Math',
 'Alg_Place',
 'Alg2_Grade',
 'HS_Rank',
 'Gender_Code',
 'Gender',
 'Calc']

In [42]:
# Convert all capital letters to lowercase in the column names
column_headers = [header.lower() for header in column_headers]
column_headers

['calc_hs',
 'act_math',
 'alg_place',
 'alg2_grade',
 'hs_rank',
 'gender_code',
 'gender',
 'calc']

In [43]:
# function definition
def fix_headers(headers):
    """
    This function takes a list of headers and returns a list of headers with
    white spaces replaced by underscores and all letters converted to lowercase.
    Params: headers: list of strings.
    Returns: headers: list of strings.
    """
    # Replace white spaces inside the column names with underscores
    headers = [header.replace(" ", "_") for header in headers]
    # Convert all capital letters to lowercase in the column names
    headers = [header.lower() for header in headers]
    return headers

In [59]:
data.columns

Index(['calc_hs', 'act_math', 'alg_place', 'alg2_grade', 'hs_rank',
       'gender_code', 'gender', 'calc'],
      dtype='object')

In [57]:
fix_headers(data.columns)

['calc_hs',
 'act_math',
 'alg_place',
 'alg2_grade',
 'hs_rank',
 'gender_code',
 'gender',
 'calc']

In [58]:
data.columns

Index(['calc_hs', 'act_math', 'alg_place', 'alg2_grade', 'hs_rank',
       'gender_code', 'gender', 'calc'],
      dtype='object')

In [60]:
data.columns = fix_headers(data.columns)  # assign the fixed headers to the data columns

In [61]:
data.columns

Index(['calc_hs', 'act_math', 'alg_place', 'alg2_grade', 'hs_rank',
       'gender_code', 'gender', 'calc'],
      dtype='object')

## 2. Pandas custom functions to calculate statistics of data features.

In [62]:
# Get average of a column
data["calc_hs"].mean()

np.float64(0.25)

In [63]:
# Get standard deviation of a column
data["calc_hs"].std()

np.float64(0.4357446703305951)

In [64]:
# Get average descriptive stats from all columns.
data.describe()

,calc_hs,act_math,alg_place,alg2_grade,hs_rank,gender_code,calc
count,80.000000,80.000000,80.000000,80.000000,80.000000,80.000000,80.000000
mean,0.250000,28.250000,19.425000,3.612500,87.675000,0.537500,80.150000
std,0.435745,3.247199,4.711352,0.556748,12.181928,0.501737,11.436229
min,0.000000,16.000000,10.000000,2.000000,46.000000,0.000000,49.000000
25%,0.000000,27.000000,15.750000,3.000000,82.000000,0.000000,72.000000
50%,0.000000,28.000000,19.000000,4.000000,92.000000,1.000000,80.500000
75%,0.250000,30.000000,23.000000,4.000000,97.000000,1.000000,89.250000
max,1.000000,35.000000,30.000000,4.000000,99.000000,1.000000,99.000000

In [65]:
# Slice the data to get average descriptive stats from some columns.
data[["calc_hs", "act_math", "alg2_grade"]].describe()

         calc_hs   act_math  alg2_grade
count  80.000000  80.000000   80.000000
mean    0.250000  28.250000    3.612500
std     0.435745   3.247199    0.556748
min     0.000000  16.000000    2.000000
25%     0.000000  27.000000    3.000000
50%     0.000000  28.000000    4.000000
75%     0.250000  30.000000    4.000000
max     1.000000  35.000000    4.000000

## 3. Custom function to create a report on the data.

In [53]:
def report_on_data(data, columns=None, save_to_file=False):
    """
    Take an Excel file and selected columns and return a report on the data as Datafrane.
    Params:
        data: An Excel file.
        columns: A list of columns to include in the report. If None, all columns are included.

    Returns:
        report: A pandas DataFrame with the average descriptive stats of the data.
    """
    data = pd.read_excel(data)
    # Get average descriptive stats from all columns.
    if columns is not None:
        data = data[columns]
    # else:
    #     data = data

    # Fix the column headers
    data.columns = fix_headers(data.columns)

    # Create report
    report = data.describe()

    if save_to_file:
        report.to_excel("report.xlsx", index=True)
        print("Report saved to file.")
    return report

In [54]:
report = report_on_data(
    data="grades_factors.xlsx",
    columns=['Calc HS', 'ACT Math', 'Alg Place', 'Alg2 Grade'],
    save_to_file=True
)

Report saved to file.

In [66]:
report

         calc_hs   act_math  alg_place  alg2_grade
count  80.000000  80.000000  80.000000   80.000000
mean    0.250000  28.250000  19.425000    3.612500
std     0.435745   3.247199   4.711352    0.556748
min     0.000000  16.000000  10.000000    2.000000
25%     0.000000  27.000000  15.750000    3.000000
50%     0.000000  28.000000  19.000000    4.000000
75%     0.250000  30.000000  23.000000    4.000000
max     1.000000  35.000000  30.000000    4.000000

In [56]:
type(report)

pandas.core.frame.DataFrame